<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign experience = data[1] | sort: 'startDate' | reverse %}
  {% for content in experience %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 d-flex flex-column align-items-start">
          {% if content.startDate %}
            {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
            {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
            {% assign date = startDate | append: ' - ' %}
            {% assign date = date | append: endDate %}
          {% else %}
            {% assign date = '' %}
          {% endif %}
          {% if date %}
            <span class="badge font-weight-bold danger-color-dark mb-2"> {{ date }} </span>
          {% endif %}
          {% if content.location %}
            <p class="location m-0" style="font-size: 0.8rem;">
              <i class="fa-solid fa-location-dot iconlocation"></i>
              {{ content.location }}
            </p>
          {% endif %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
          <h6 class="title font-weight-bold">{{ content.position }}</h6>
          <p style="font-size: 0.8rem; margin: 0;">{{ content.organization }}</p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
